

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Cyan: #223d33;
}


* {
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--Cream);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%
}

.card {
  display: flex;
  width: 600px;
  border-radius: 10px;
}
.card-img-desktop{
  width: 50%;
  border-radius: 10px 0 0 10px;
}
.card-img-mobile {
  display: none;
}
.card-content {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 0 10px 10px 0;
}
.card-info {
  font-family: "Montserrat", sans-serif;
  opacity: 50%;
  letter-spacing: 5px;
  font-size: 14px;
}
.card-title {
  margin-top: 24px;
  font-family: "Fraunces", serif;
  font-weight: bolder;
  font-size: 36px;
  line-height: 1;
}
.card-desc {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  font-family: "Montserrat", sans-serif;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;

}

.new-price {
  font-family: "Fraunces", serif;
  color: var(--Dark-cyan);
  font-size: 32px;
  font-weight: bold;
} 

.original-price {
  font-size: 14px;
  opacity: 50%;
  text-decoration: line-through;
}


.card-btn {
  background-color: var(--Dark-cyan);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  color: var(--White);
  gap: 10px;
  font-weight: 600;
}
.card-btn:hover {
  background-color: var(--Very-Dark-Cyan);
}

@media screen and (max-width: 620px)  and (min-width: 440px){
  .card {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .card-img-desktop {
    display: none;
  }
  .card-img-mobile{
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .card-content {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (max-width: 440px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
  .card {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 100%;
  }
  .card-img-desktop {
    display: none;
  }
  .card-img-mobile{
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
  }
  .card-title {
    font-size: 32px;
  }
}